.sliderItem {
  height: 420px;

  
}
.slider{
    width: 96.5%;
    margin:auto;
}
.slider:hover .slick-next:before{
    color: grey;
   
}
.slider:hover .slick-prev:before{
    color: grey;
   
}
.img{
    width:200px;
}
