.contactInfo {
  margin: 30px 120px;
}
.titleBig {
  width: 50%;
}

.submit {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(170, 188, 188, 0.5);
  padding-left: 15px;
  position: absolute;
  right: 0;
  margin: 10px;
  border: none;
}
.skills {
  width: 200px;
  height: 50px;
  background-color: rgb(103, 103, 241);
  border-radius: 50px;
  margin: 20px 5px;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.skills:hover .close {
  display: inline-block;
}

.close {
  margin-left: 10px;
  margin-right: 0;
  display: none;
}
.showPrewritten {
  text-align: end;
  color: rgb(103, 103, 241);
}
.skillsInput {
  width: 67%;
  margin-top: 10px;
  position: relative;
}
.container {
  width: 67%;
  height: 80px;
  border: 1px solid grey;
  background: rgba(209, 209, 209, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  margin-top: 20px;
}
.add {
  width: 67%;
  height: 80px;
  border: 1px solid grey;
  background: white;
  color: rgba(59, 59, 239, 0.4);
  border: 1px solid rgba(59, 59, 239, 0.4);
  margin-top: 35px;
  font-size: 24px;
}
.smallTitle1 {
  width: 80%;
  margin: 10px 0;
}
.smallTitleSmall {
  width: 67%;
  margin: 10px 0;
}
.titleBig {
  width: 67%;
}