.main1{
    width: 100vw;
    height: 100vh;
    margin:20px
   
}


.main1 .css-mhc70k-MuiGrid-root>.MuiGrid-item{
    padding-left: 0;
    padding:50px 40px 30px 60px;
}
.leftSide{  
  
    justify-content: center;
    background:rgb(38, 160, 244);
    color:white;
}
.rightSide{ 
   margin:auto;
   display:flex;
   justify-content: center;
}