.main{
  margin:30px 30px;
}


.main1 {
  width:80vw;
  height: 100vh;
  margin: 20px;
}

.main1 .css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding-left: 0;
  padding: 50px 40px 30px 60px;
}

.leftSide {
  justify-content: center;
  background: rgb(38, 160, 244);
  color: white;
}
.leftSide {
  padding: 50px 40px 30px 60px;
}
.title {
  margin-top: 15px;
  margin-bottom: 15px;
}
.title1 {
  margin-top: 15px;
  margin-bottom: 5px;
}
.text {
  margin-top: 5px;
  margin-bottom: 5px;
}
.experience {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.experienceLeftSide {
  width: 30%;
}
.experienceRightSide {
  width: 70%;
}
.experienceText {
  margin: 0 auto;
  color: grey;
  font-size: 12px;
  width: 100%;
  word-break: break-word;
}
.experienceRightSideText {
  color: black;
  font-size: 14px;
}
.experienceTextRigtht {
  color: green;
  width: 20%;
  font-size: 12px;
}
.top {
  display: flex;
  flex-direction: row;
}
.downLoadBtn {
  position: absolute;
  right: -23%;
  top: 0%;
  width: 13%;
  height: 50px;
  background: brown;
  color: white;
  border: none;
  border-radius: 50px;
  margin: 5% 30%;
  z-index: 5;
}
