.sideBar {
  color: black;
  width: 25%;
  height: 100%;
  position: absolute;
  right: 0;
  padding: 5px;
}
.sideBarTitle {
  color: black;
  text-align: center;
  padding-top: 20px;
}
.sidebarBtn {
  width: 90%;
  height: 35px;
  color: black;
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid rgb(216, 211, 211);
  margin:20px 0;
 padding-top: 10px;
 box-shadow: 2px 2px 0.5px 0.2px rgb(241, 236, 236) ;
 
}
.textDecorationNone {
  text-decoration: none;
  
}
.iconDiv{
  margin-left: 10px;
  color:rgb(38, 160, 244);
  width:20%
}
.nameDiv{
  width:80%
}