.main {
  margin: 0 120px;
}

.textfield {
  background-color: rgb(206, 241, 229);
  border: none;
}
.toolbar {
  background-color: rgb(206, 241, 229);
  width: 50%;
  height: 50px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
}
 .tools{
    margin: 10px;
 }